body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url(../public/img/pexels-dids-3527786.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #78249b;
  }
  
  .square {
    background: transparent;
    border: 2px solid #b190b2;
    color: #935883;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 80px;
    height: 40px;
    width: 60px;
    line-height: 1px;
  }
  .square::before{
    content: "";
    margin-left: -14px;
    margin-bottom: 1px;
  }
  .square:focus {
    outline: none;
  }
  .square-winning {
    animation-duration: 3.5s;
    animation-name: winner;
    animation-iteration-count: infinite;
    transition: all 1s ease-in-out;

  }
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.75);
    width: 950px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    border:20px groove #ca66c7;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .game-info div{
    font-size: 1.5rem;
    color: #734567;
  }
 .game-info ol li button{
  border: none;
  background-color: #c9afca;
  color: #734567;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
 }
 .game-info ol li{
  list-style: none;
 }
 .game-info ol li button:hover{
  color: #c9afca;
  background-color: #734567;
  transition: all 0.2s ease-in-out;
 }
  .game-board div{
    width: 500px;
    margin: auto;
  }
  @keyframes winner {
    0% {      
      background-color: #734567;
      color: #b190b2; 
    }

    50% { 
      background-color: #b190b2;
      color: #734567; 
    }

    100% {       
      background-color: #734567;
      color: #b190b2; 
    }
  }
  